.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 36.25px;
}
@media screen and (min-width: 681px) and (max-width:900px) {
  .header{
    max-width: 581px;
  }
}
@media screen and (min-width: 320px) and (max-width:681px) {
  .header{
    max-width: 266px;
    margin: 28px auto 38.25px;
    min-height: 56px;
  }
}