.popup__description{
  display: flex;
  width: 358px;
  height: 26px;
  margin: 0 auto 48px;
  border:0;
  border-bottom: 1px solid #000000;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (min-width: 320px) and (max-width:681px) {
  .popup__description{
    width: 238px;;
    margin: 0 auto 45px;
  }
}